<!--
  ==========================
      COUNTER START
  ===========================
-->
<section class="counter_area">
  <div class="counter_bg pt_30 pb_35">
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-lg-3 col-sm-6 wow fadeInUp">
            <div class="single_counter">
              <h2 class="counter">45</h2>
              <span>Dishes</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--
  ==========================
      COUNTER END
  ===========================
-->
