<!--
  ==========================
      ADD BANNER START
  ===========================
-->
<section class="add_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7 wow fadeInUp">
        <div
          class="add_banner_large"
          style="background-image: url('{{ section.settings.background_image_1 | img_url: 'large' }}');"
        >
          <div class="text">
            <h3>{{ section.settings.ct_banner_title_1 }}</h3>
            <a href="menu_details.html"> order now <i class="fas fa-chevron-circle-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 wow fadeInUp">
        <div
          class="add_banner_small"
          style="background-image: url('{{ section.settings.background_image_2 | img_url: 'large' }}');"
        >
          <div class="text">
            <h3>{{ section.settings.ct_banner_title_2 }}</h3>
            <a href="menu_details.html"> order now <i class="fas fa-chevron-circle-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ==========================
      ADD BANNER END
  ===========================
-->

{% schema %}
{
  "name": "Add Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image_1",
      "label": "Background Image 1"
    },
     {
      "type": "text",
      "id": "ct_banner_title_1",
      "label": "CT Banner Title 1",
      "default": "THE BEST BURGER PLACE IN TOWN"
    },
    {
      "type": "image_picker",
      "id": "background_image_2",
      "label": "Background Image 2"
    },
    {
      "type": "text",
      "id": "ct_banner_title_2",
      "label": "CT Banner Title 2",
      "default": "GREAT VALUE MIXED DRINKS"
    }
  ],

  "presets":[
    {
      "name": "Add Banner"
    }
  ]

}
{% endschema %}

+
