<!--
  ==========================
      MENU ITEM START
  ===========================
-->
<section class="menu_item pt_125 xs_pt_85">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 m-auto wow fadeInUp">
        <div class="section_heading mb_45 xs_mb_50">
          <h2>Delicious Menu</h2>
        </div>
      </div>
    </div>
    <div id="schedule">
      <div class="colorful-tab-wrapper" id="filter_area">
        <div class="row mb_15 wow fadeInUp">
          <div class="col-xxl-8 col-lg-9 m-auto">
            <ul class="filter_btn_area">
              <li class="active"><a href="#item_1">MORNING</a></li>
              <li><a href="#item_2">WEEKDAY LUNCH</a></li>
              <li><a href="#item_3">DINNER</a></li>
              <li><a href="#item_4">FAST FOOD</a></li>
              <li><a href="#item_5">BEVERAGE</a></li>
              <li><a href="#item_6">DRESSERT</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="colorful-tab-content active" id="item_1">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colorful-tab-content" id="item_2">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colorful-tab-content" id="item_3">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colorful-tab-content" id="item_4">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colorful-tab-content" id="item_5">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="colorful-tab-content" id="item_6">
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_1.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Chicken</a>
                      <a class="title" href="menu_details.html">Daria Shevtsova</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$40 <del>$50</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_2.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Biryani</a>
                      <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$30 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_3.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Burger</a>
                      <a class="title" href="menu_details.html">Spicy Burger</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$65</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_4.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Pizza</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$40</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_5.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Kabab</a>
                      <a class="title" href="menu_details.html">Mozzarella Sticks</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$20 <del>$30</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_6.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Fry</a>
                      <a class="title" href="menu_details.html">Popcorn Chicken</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$36 <del>$45</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_7.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Mexican Pizza</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$49 <del>$55</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                  <div class="single_menu">
                    <div class="single_menu_img">
                      <img
                        src="assets/images/menu_img_8.jpg"
                        alt="menu"
                        class="img-fluid w-100"
                      >
                      <ul>
                        <li>
                          <a href="#"><i class="far fa-eye"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="far fa-heart"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="single_menu_text">
                      <p class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </p>
                      <a class="category" href="#">Sandwich</a>
                      <a class="title" href="menu_details.html">Onion Rings</a>
                      <p class="descrption">Homemade pizza crust, pizza sauce</p>
                      <div class="d-flex flex-wrap align-items-center">
                        <a
                          class="add_to_cart"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#cartModal"
                          >Add To Cart</a
                        >
                        <h3>$59 <del>$69</del></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt_60">
            <a class="common_btn" href="menu_03.html">
              <span class="icon">
                <img src="assets/images/eye.png" alt="order" class="img-fluid w-100">
              </span>
              View All Menu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
