<!--
  ==========================
      FOOTER START
  ===========================
-->
<footer class="pt_100 mt_120 xs_mt_100">
  <div class="container">
    <div class="row justify-content-between wow fadeInUp">
      <div class="col-lg-3 col-md-4">
        <div class="footer_info">
          <a class="footer_logo" href="index.html">
            <img src="assets/images/footer_logo.png" alt="RESTINA" class="img-fluid w-100">
          </a>
          <p>Cras incident lobotids feudist makes viramas sagittas eu valuta.</p>
          <ul>
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-4">
        <div class="footer_link">
          <h3>Our Menu</h3>
          <ul>
            <li><a href="#">Breakfast</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
            <li><a href="#">Vegetable</a></li>
            <li><a href="#">Korean Food</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-4">
        <div class="footer_link">
          <h3>Resources</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-9">
        <div class=" footer_post">
          <h3>Recent Post</h3>
          <ul>
            <li>
              <div class="img">
                <img src="assets/images/footer_post_img_1.jpg" alt="post" class="img-fluid w-100">
              </div>
              <div class="text">
                <p><i class="far fa-clock"></i> March 24, 2024</p>
                <a href="#">THE WONDERS OF THAI CUISINE SWEET, SALTY & SOUR</a>
              </div>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/footer_post_img_2.jpg" alt="post" class="img-fluid w-100">
              </div>
              <div class="text">
                <p><i class="far fa-clock"></i> March 24, 2024</p>
                <a href="#">PAIRING WINE WITH INDIAN FOOD: TIPS FROM A SOMMELIER</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt_80 wow fadeInUp">
      <div class="col-12">
        <div class="footer_subscribe">
          <h2>Subscription News</h2>
          <form>
            <input type="text" placeholder="Enter Your Email">
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer_copyright">
          <p>Copyright © RESTINA 2024. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--
  ==========================
      FOOTER END
  ===========================
-->
