
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q&skey=d0a91b9f68d720c8&v=v19) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=zYXgKVElMYYaJe8bpLHnCwDKhdHeEw&skey=db4d85f0f9937532&v=v19) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFscg&skey=c356e056e46b14e5&v=v19) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFscg&skey=e6db13af8577e07c&v=v19) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg&skey=d0a91b9f68d720c8&v=v19) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg&skey=d0a91b9f68d720c8&v=v19) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw&skey=d0a91b9f68d720c8&v=v19) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdXeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdLeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-505229099501880426 .-translate-x-full,.gps-505229099501880426 .-translate-y-1\/2,.gps-505229099501880426 .before\:-rotate-45:before,.gps-505229099501880426 .mobile\:-translate-y-1\/2,.gps-505229099501880426 .mobile\:rotate-0,.gps-505229099501880426 .mobile\:rotate-180,.gps-505229099501880426 .mobile\:translate-x-0,.gps-505229099501880426 .mobile\:translate-y-1\/2,.gps-505229099501880426 .rotate-0,.gps-505229099501880426 .rotate-180,.gps-505229099501880426 .tablet\:-translate-y-1\/2,.gps-505229099501880426 .tablet\:rotate-0,.gps-505229099501880426 .tablet\:rotate-180,.gps-505229099501880426 .tablet\:translate-x-0,.gps-505229099501880426 .tablet\:translate-y-1\/2,.gps-505229099501880426 .transform,.gps-505229099501880426 .translate-x-full,.gps-505229099501880426 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-505229099501880426 .shadow-md,.gps-505229099501880426 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-505229099501880426 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-505229099501880426 .btn-disabled{cursor:default}.gps-505229099501880426 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-505229099501880426 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-505229099501880426 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-505229099501880426 .sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-505229099501880426 .pointer-events-none{pointer-events:none}.gps-505229099501880426 .invisible{visibility:hidden}.gps-505229099501880426 .absolute{position:absolute}.gps-505229099501880426 .relative{position:relative}.gps-505229099501880426 .inset-0{inset:0}.gps-505229099501880426 .bottom-0{bottom:0}.gps-505229099501880426 .bottom-1\/2{bottom:50%}.gps-505229099501880426 .left-0{left:0}.gps-505229099501880426 .left-1{left:4px}.gps-505229099501880426 .left-4{left:16px}.gps-505229099501880426 .right-0{right:0}.gps-505229099501880426 .right-1{right:4px}.gps-505229099501880426 .right-4{right:16px}.gps-505229099501880426 .top-0{top:0}.gps-505229099501880426 .top-1\/2{top:50%}.gps-505229099501880426 .z-1{z-index:1}.gps-505229099501880426 .z-2{z-index:2}.gps-505229099501880426 .z-\[90\]{z-index:90}.gps-505229099501880426 .\!m-0{margin:0!important}.gps-505229099501880426 .\!m-auto{margin:auto!important}.gps-505229099501880426 .mx-auto{margin-left:auto;margin-right:auto}.gps-505229099501880426 .my-0{margin-bottom:0;margin-top:0}.gps-505229099501880426 .\!ml-0{margin-left:0!important}.gps-505229099501880426 .mb-0{margin-bottom:0}.gps-505229099501880426 .mt-2{margin-top:8px}.gps-505229099501880426 .block{display:block}.gps-505229099501880426 .flex{display:flex}.gps-505229099501880426 .inline-flex{display:inline-flex}.gps-505229099501880426 .grid{display:grid}.gps-505229099501880426 .contents{display:contents}.gps-505229099501880426 .\!hidden{display:none!important}.gps-505229099501880426 .hidden{display:none}.gps-505229099501880426 .aspect-square{aspect-ratio:1/1}.gps-505229099501880426 .h-0{height:0}.gps-505229099501880426 .h-5{height:20px}.gps-505229099501880426 .h-6{height:24px}.gps-505229099501880426 .h-auto{height:auto}.gps-505229099501880426 .h-fit{height:-moz-fit-content;height:fit-content}.gps-505229099501880426 .h-full{height:100%}.gps-505229099501880426 .\!w-full{width:100%!important}.gps-505229099501880426 .w-5{width:20px}.gps-505229099501880426 .w-6{width:24px}.gps-505229099501880426 .w-\[12px\]{width:12px}.gps-505229099501880426 .w-auto{width:auto}.gps-505229099501880426 .w-full{width:100%}.gps-505229099501880426 .\!min-w-full{min-width:100%!important}.gps-505229099501880426 .min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-505229099501880426 .\!max-w-full{max-width:100%!important}.gps-505229099501880426 .\!max-w-none{max-width:none!important}.gps-505229099501880426 .max-w-full{max-width:100%}.gps-505229099501880426 .flex-1{flex:1 1 0%}.gps-505229099501880426 .flex-none{flex:none}.gps-505229099501880426 .-translate-x-full{--tw-translate-x:-100%}.gps-505229099501880426 .-translate-x-full,.gps-505229099501880426 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-505229099501880426 .translate-x-full{--tw-translate-x:100%}.gps-505229099501880426 .translate-x-full,.gps-505229099501880426 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .translate-y-1\/2{--tw-translate-y:50%}.gps-505229099501880426 .rotate-0{--tw-rotate:0deg}.gps-505229099501880426 .rotate-0,.gps-505229099501880426 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .rotate-180{--tw-rotate:180deg}.gps-505229099501880426 .transform{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-505229099501880426 .animate-spin{animation:spin 1s linear infinite}.gps-505229099501880426 .\!cursor-not-allowed{cursor:not-allowed!important}.gps-505229099501880426 .cursor-pointer{cursor:pointer}.gps-505229099501880426 .flex-row{flex-direction:row}.gps-505229099501880426 .flex-col{flex-direction:column}.gps-505229099501880426 .flex-wrap{flex-wrap:wrap}.gps-505229099501880426 .items-start{align-items:flex-start}.gps-505229099501880426 .items-center{align-items:center}.gps-505229099501880426 .justify-start{justify-content:flex-start}.gps-505229099501880426 .justify-center{justify-content:center}.gps-505229099501880426 .gap-2{gap:8px}.gps-505229099501880426 .gap-\[6px\]{gap:6px}.gps-505229099501880426 .gap-y-0{row-gap:0}.gps-505229099501880426 .overflow-hidden{overflow:hidden}.gps-505229099501880426 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-505229099501880426 .text-ellipsis{text-overflow:ellipsis}.gps-505229099501880426 .break-words{overflow-wrap:break-word}.gps-505229099501880426 .\!rounded-full{border-radius:9999px!important}.gps-505229099501880426 .\!rounded-none{border-radius:0!important}.gps-505229099501880426 .rounded{border-radius:4px}.gps-505229099501880426 .rounded-full{border-radius:9999px}.gps-505229099501880426 .rounded-none{border-radius:0}.gps-505229099501880426 .border{border-width:1px}.gps-505229099501880426 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-505229099501880426 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-505229099501880426 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-505229099501880426 .bg-g-brand{background-color:var(--g-c-brand)}.gps-505229099501880426 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-505229099501880426 .bg-auto{background-size:auto}.gps-505229099501880426 .object-cover{-o-object-fit:cover;object-fit:cover}.gps-505229099501880426 .p-4{padding:16px}.gps-505229099501880426 .p-\[4px\]{padding:4px}.gps-505229099501880426 .px-0{padding-left:0;padding-right:0}.gps-505229099501880426 .px-1{padding-left:4px;padding-right:4px}.gps-505229099501880426 .px-4{padding-left:16px;padding-right:16px}.gps-505229099501880426 .py-0{padding-bottom:0;padding-top:0}.gps-505229099501880426 .py-2{padding-bottom:8px;padding-top:8px}.gps-505229099501880426 .\!pb-0{padding-bottom:0!important}.gps-505229099501880426 .pb-0{padding-bottom:0}.gps-505229099501880426 .pb-1{padding-bottom:4px}.gps-505229099501880426 .pl-4{padding-left:16px}.gps-505229099501880426 .pr-1{padding-right:4px}.gps-505229099501880426 .pr-6{padding-right:24px}.gps-505229099501880426 .text-center{text-align:center}.gps-505229099501880426 .uppercase{text-transform:uppercase}.gps-505229099501880426 .italic{font-style:italic}.gps-505229099501880426 .text-g-text-1{color:var(--g-c-text-1)}.gps-505229099501880426 .text-g-text-2{color:var(--g-c-text-2)}.gps-505229099501880426 .text-g-text-3{color:var(--g-c-text-3)}.gps-505229099501880426 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-505229099501880426 .line-through{text-decoration-line:line-through}.gps-505229099501880426 .no-underline{text-decoration-line:none}.gps-505229099501880426 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-505229099501880426 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-505229099501880426 .opacity-0{opacity:0}.gps-505229099501880426 .opacity-20{opacity:.2}.gps-505229099501880426 .opacity-25{opacity:.25}.gps-505229099501880426 .opacity-30{opacity:.3}.gps-505229099501880426 .opacity-75{opacity:.75}.gps-505229099501880426 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-505229099501880426 .shadow-md,.gps-505229099501880426 .shadow-none{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-505229099501880426 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-505229099501880426 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-505229099501880426 .outline{outline-style:solid}.gps-505229099501880426 .outline-1{outline-width:1px}.gps-505229099501880426 .-outline-offset-1{outline-offset:-1px}.gps-505229099501880426 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-505229099501880426 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505229099501880426 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505229099501880426 .duration-100{transition-duration:.1s}.gps-505229099501880426 .duration-200{transition-duration:.2s}.gps-505229099501880426 .duration-300{transition-duration:.3s}.gps-505229099501880426 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505229099501880426 .ease-out{transition-timing-function:cubic-bezier(0,0,.2,1)}.gps-505229099501880426 .disabled\:btn-disabled:disabled{cursor:default}.gps-505229099501880426 .before\:absolute:before{content:var(--tw-content);position:absolute}.gps-505229099501880426 .before\:top-\[50\%\]:before{content:var(--tw-content);top:50%}.gps-505229099501880426 .before\:z-1:before{content:var(--tw-content);z-index:1}.gps-505229099501880426 .before\:hidden:before{content:var(--tw-content);display:none}.gps-505229099501880426 .before\:w-full:before{content:var(--tw-content);width:100%}.gps-505229099501880426 .before\:-rotate-45:before{--tw-rotate:-45deg;content:var(--tw-content);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .before\:border-t:before{border-top-width:1px;content:var(--tw-content)}.gps-505229099501880426 .before\:content-\[\'\'\]:before{--tw-content:"";content:var(--tw-content)}@media (hover:hover) and (pointer:fine){.gps-505229099501880426 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-505229099501880426 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-505229099501880426 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-505229099501880426 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}}.gps-505229099501880426 .active\:bg-g-bg-3:active{background-color:var(--g-c-bg-3)}.gps-505229099501880426 .active\:text-g-text-2:active{color:var(--g-c-text-2)}.gps-505229099501880426 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-505229099501880426 .disabled\:cursor-default:disabled{cursor:default}.gps-505229099501880426 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-505229099501880426 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-505229099501880426 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-505229099501880426 .data-\[disabled\=\'disabled\'\]\:pointer-events-none[data-disabled=disabled]{pointer-events:none}.gps-505229099501880426 .data-\[hidden\=\'false\'\]\:flex[data-hidden=false]{display:flex}.gps-505229099501880426 .data-\[hidden\=\'true\'\]\:hidden[data-hidden=true]{display:none}.gps-505229099501880426 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-505229099501880426 .data-\[hidden\=true\]\:hidden[data-hidden=true],.gps-505229099501880426 .data-\[only-image\=true\]\:hidden[data-only-image=true]{display:none}.gps-505229099501880426 .data-\[disabled\=\'disabled\'\]\:\!cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-505229099501880426 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-505229099501880426 .data-\[outline\=deactive\]\:after\:\!border-transparent[data-outline=deactive]:after{border-color:transparent!important;content:var(--tw-content)}.gps-505229099501880426 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-505229099501880426 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-505229099501880426 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-505229099501880426 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-505229099501880426 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-505229099501880426 .tablet\:-left-4{left:-16px}.gps-505229099501880426 .tablet\:-right-4{right:-16px}.gps-505229099501880426 .tablet\:bottom-1\/2{bottom:50%}.gps-505229099501880426 .tablet\:left-4{left:16px}.gps-505229099501880426 .tablet\:right-4{right:16px}.gps-505229099501880426 .tablet\:top-1\/2{top:50%}.gps-505229099501880426 .tablet\:mt-2{margin-top:8px}.gps-505229099501880426 .tablet\:block{display:block}.gps-505229099501880426 .tablet\:\!inline{display:inline!important}.gps-505229099501880426 .tablet\:\!hidden{display:none!important}.gps-505229099501880426 .tablet\:w-full{width:100%}.gps-505229099501880426 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-505229099501880426 .tablet\:-translate-y-1\/2,.gps-505229099501880426 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-505229099501880426 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-505229099501880426 .tablet\:rotate-0,.gps-505229099501880426 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .tablet\:rotate-0{--tw-rotate:0deg}.gps-505229099501880426 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .tablet\:flex-row{flex-direction:row}.gps-505229099501880426 .tablet\:flex-col{flex-direction:column}.gps-505229099501880426 .tablet\:px-0{padding-left:0;padding-right:0}.gps-505229099501880426 .tablet\:py-0{padding-bottom:0;padding-top:0}.gps-505229099501880426 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-505229099501880426 .mobile\:-left-4{left:-16px}.gps-505229099501880426 .mobile\:-right-4{right:-16px}.gps-505229099501880426 .mobile\:bottom-1\/2{bottom:50%}.gps-505229099501880426 .mobile\:left-4{left:16px}.gps-505229099501880426 .mobile\:right-4{right:16px}.gps-505229099501880426 .mobile\:top-1\/2{top:50%}.gps-505229099501880426 .mobile\:mt-2{margin-top:8px}.gps-505229099501880426 .mobile\:block{display:block}.gps-505229099501880426 .mobile\:\!inline{display:inline!important}.gps-505229099501880426 .mobile\:\!hidden{display:none!important}.gps-505229099501880426 .mobile\:w-full{width:100%}.gps-505229099501880426 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-505229099501880426 .mobile\:-translate-y-1\/2,.gps-505229099501880426 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-505229099501880426 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-505229099501880426 .mobile\:rotate-0,.gps-505229099501880426 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .mobile\:rotate-0{--tw-rotate:0deg}.gps-505229099501880426 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505229099501880426 .mobile\:flex-row{flex-direction:row}.gps-505229099501880426 .mobile\:flex-col{flex-direction:column}.gps-505229099501880426 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-505229099501880426 .mobile\:px-0{padding-left:0;padding-right:0}.gps-505229099501880426 .mobile\:py-0{padding-bottom:0;padding-top:0}.gps-505229099501880426 .mobile\:pl-1{padding-left:4px}}.gps-505229099501880426 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-505229099501880426 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-505229099501880426 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505229099501880426 .\[\&_p\]\:inline p{display:inline}.gps-505229099501880426 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-505229099501880426 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505229099501880426 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--pos:relative;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="g0ERqbUX0N"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0ERqbUX0N mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAzA_MuF_Y relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gr-wNwkWCK"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr-wNwkWCK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gH8v_veV6q relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gcjbkRalYu "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:400;--lh:130%;--size:40px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p><strong>DELICIOUS MENU</strong></p>
        </h2>
      </div>
    </div>
    <gp-tab gp-data='{"setting":{"childItem":["<p>morning</p>","<p>Weekday Lunch</p>","<p>Dinner</p>","<p>Fast Food</p>","<p>Beverage</p>","<p>Dessert</p>"],"position":{"desktop":"top","tablet":"top","mobile":"top"},"labelTypoV2":{"type":"paragraph-1","custom":{"fontSize":{"desktop":"16px","tablet":"16px","mobile":"14px"},"lineHeight":"120%","fontWeight":"500","fontFamily":"IBM Plex Sans","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic"]},"attrs":{"transform":"uppercase"}},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"100%"},"panelAlign":{"desktop":"center"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"rgba(0, 0, 11, 0)"},"labelColor":{"normal":"#212121","hover":"#AB162C","active":"#AB162C"},"borderTab":{"normal":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"hover":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"active":{"border":"none","width":"0px 0px 2px 0px","borderWidth":"Mixed","color":"#121212","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"image","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"builderProps":{"uid":"gKotHXK6qX","builderData":{"uid":"gKotHXK6qX","tag":"Tabs","label":"Tab","settings":{"childItem":["<p>morning</p>","<p>Weekday Lunch</p>","<p>Dinner</p>","<p>Fast Food</p>","<p>Beverage</p>","<p>Dessert</p>"],"position":{"desktop":"top","tablet":"top","mobile":"top"},"labelTypoV2":{"type":"paragraph-1","custom":{"fontSize":{"desktop":"16px","tablet":"16px","mobile":"14px"},"lineHeight":"120%","fontWeight":"500","fontFamily":"IBM Plex Sans","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic"]},"attrs":{"transform":"uppercase"}},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"100%"},"panelAlign":{"desktop":"center"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"rgba(0, 0, 11, 0)"},"labelColor":{"normal":"#212121","hover":"#AB162C","active":"#AB162C"},"borderTab":{"normal":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"hover":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"active":{"border":"none","width":"0px 0px 2px 0px","borderWidth":"Mixed","color":"#121212","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"image","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"styles":{},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-l)"},"padding":{"bottom":"16px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"borderType":"none","border":"solid","borderWidth":"1px","width":"0px","color":"#121212","isCustom":true,"position":"all"},"rounded":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hasBoxShadow":false,"boxShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":["gD9bxaAEXo","gduczrQpjq","gcTd1FMm5A","guHEdZgPp3","gq-6jPTcQn","gEX_ng1Py1"],"type":"component"}}}'>
      <div
        
        style="--mb:var(--g-s-l);--pb:16px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="flex gKotHXK6qX"
      >
        <div
          class="flex w-full  flex-col tablet:flex-col mobile:flex-col"
        >
          <div
            class="flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list flex  flex-row tablet:flex-row mobile:flex-row"
              style="--minw:min-content;--minw-tablet:min-content;--minw-mobile:min-content;--w:100%"
            >
              
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>morning</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>Weekday Lunch</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>Dinner</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>Fast Food</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>Beverage</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gKotHXK6qX"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:500;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>Dessert</p>
        </div>
      </div>
    </div>
                  </li>
                
            </ul>
          </div>
          <div
            class="flex flex-1"
          >
            <div
              class="gp-tab-item-container p-4 pb-0"
              key="gKotHXK6qX" 
              style="--w:100%"
            >
            
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-2', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-3', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-4', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
  <div
    
    style=""
    class="gp-tab-item"
  >
    {% render 'gp-section-505229099501880426-5', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "DELICIOUS MENU"
      }
    ],
    
    "name": "DELICIOUS MENU",
    "tag": "section",
    "class": "gps-505229099501880426 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/themee-development/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=505229099501880426)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
