<!--
  ==========================
      TESTIMONIAL START
  ===========================
-->
<section class="testimonial mt_140 xs_mt_100" style="background: url(assets/images/testimonial_bg.jpg);">
  <div class="testimonial_overlay pt_250 xs_pt_100">
    <div class="container mt_20">
      <div class="row">
        <div class="col-md-9 wow fadeInUp">
          <div class="testimonial_content">
            <div class="row testi_slider">
              {% for block in section.blocks %}
                <div class="col-12">
                  <div class="single_testimonial">
                    <p class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </p>
                    <p class="description">{{ block.settings.testimonial_description }}</p>
                    <div class="single_testimonial_footer">
                      <div class="img">
                        <img
                          src="{{ block.settings.testimonial_img | img_url: 'large' }}"
                          alt="testimonial_img"
                          width="auto"
                          height="auto"
                        >
                      </div>
                      <h3>
                        {{ block.settings.testimonial_name }}
                        <span>{{ block.settings.testimonial_title }}</span>
                      </h3>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="testimonial_video">
            <a
              class="venobox play_btn"
              data-autoplay="true"
              data-vbtype="video"
              href="https://youtu.be/nqye02H_H6I?si=ougeOsfL0tat6YbT"
            >
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ==========================
      TESTIMONIAL END
  ===========================
-->

{% schema %}
{
  "name": "Testimonial",
  "settings": [],
  "blocks": [
    {
      "type":"Testimonial",
      "name": "Testimonial_add",
      "settings":[
        {
          "type": "image_picker",
          "id": "testimonial_img",
          "label": "testimonial Img"
        },

        {
          "type": "text",
          "id": "testimonial_name",
          "label": "Testimonial Name",
           "default": "Name"
        },
        {
          "type": "text",
          "id": "testimonial_title",
          "label": "Testimonial Title",
           "default": "Title"
        },
        {
          "type": "text",
          "id": "testimonial_description",
          "label": "Testimonial Description",
          "default": "<p>Commodo ullamcorper a lacus vestibulum sed arcu non. Non blandit massa enim Sem viverra aliquet eget sit amet tellus cras</p>"
        }
      ]

    }
  ],
  "presets":[
    {
      "name": "Testimonial"
    }
  ]

}
{% endschema %}
